<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="css/carrinho.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>Carrinho De Compras</title>
</head>

<body>
    <header>
        <a href="#" class="logo"><i class="fas fa-utensils"></i>ByteBurguer</a>
        <nav class="navbar">
            <a class="active" href="home.ejs">Início</a>
            <a href="#">Especialidades</a>
            <a href="#">Sobre</a>
            <a href="#">Cardápio</a>
            <a href="#">Feedbacks</a>
            <a href="#">Contato</a>
        </nav>

        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <a class="fas fa-shopping-cart"></a>
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>

    </header>
    <main>
        <div class="page-title">Seu Carrinho</div>
        <div class="content">
            <section>
                <table>
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                            <th>-</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="product">
                                    <img style="width: 120px; height: 100px;" src="assets/bebida2.jpg" alt="">
                                    <div class="info">
                                        <div class="name">Nome Do Produto</div>
                                        <div class="category">Categoria</div>
                                    </div>
                                </div>
                            </td>
                            <td>R$2</td>
                            <td>
                                <div class="qty">
                                    <button><i class='bx bx-minus'></i></button>
                                    <span>0</span>
                                    <button><i class='bx bx-plus'></i></button>
                                </div>
                            </td>
                            <td>R$0</td>
                            <td>
                                <button class="remove"><i class='bx bx-x'></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product">
                                    <img style="width: 120px; height: 100px;" src="assets/batata.jpeg" alt="">
                                    <div class="info">
                                        <div class="name">Nome Do Produto</div>
                                        <div class="category">Categoria</div>
                                    </div>
                                </div>
                            </td>
                            <td>R$0</td>
                            <td>
                                <div class="qty">
                                    <button><i class='bx bx-minus'></i></button>
                                    <span>0</span>
                                    <button><i class='bx bx-plus'></i></button>
                                </div>
                            </td>
                            <td>R$0</td>
                            <td>
                                <button class="remove"><i class='bx bx-x'></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product">
                                    <img style="width: 120px; height: 100px;" src="assets/bebida4.jpg" alt="">
                                    <div class="info">
                                        <div class="name">Nome Do Produto</div>
                                        <div class="category">Categoria</div>
                                    </div>
                                </div>
                            </td>
                            <td>R$0</td>
                            <td>
                                <div class="qty">
                                    <button><i class='bx bx-minus'></i></button>
                                    <span>0</span>
                                    <button><i class='bx bx-plus'></i></button>
                                </div>
                            </td>
                            <td>R$0</td>
                            <td>
                                <button class="remove"><i class='bx bx-x'></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product">
                                    <img style="width: 120px; height: 100px;" src="assets/combo.png" alt="">
                                    <div class="info">
                                        <div class="name">Nome Do Produto</div>
                                        <div class="category">Categoria</div>
                                    </div>
                                </div>
                            </td>
                            <td>R$0</td>
                            <td>
                                <div class="qty">
                                    <button><i class='bx bx-minus'></i></button>
                                    <span>0</span>
                                    <button><i class='bx bx-plus'></i></button>
                                </div>
                            </td>
                            <td>R$0</td>
                            <td>
                                <button class="remove"><i class='bx bx-x'></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <aside>
                <div class="box">

                    <div class="info">
                        <div><span>Sub-Total</span><span>R$ 0</span></div>
                        <div><span>Frete</span><span> Gratuito</span></div>
                        <div><button>Adicionar Cupom De Desconto<i class='bx bx-right-arrow-alt'></i></button></div>
                    </div>
                    <footer>
                        <span>Total</span>
                        <span>R$0</span>
                    </footer>
                </div>
                <button>Finalizar Compra</button>
                <button style="margin-top: 5px;" onclick="window.location.href='/home'">Voltar</button>
            </aside>
        </div>
    </main>
    <script src="javascripts/carrinho.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>

</html>